.titulo{
  width: auto;
  border-radius: 0 0;
  box-shadow: 1px 2px 10px #000, 3px 6px 20px #000;
  padding: 50px 300px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  text-align: center;
}

.card {
    height: 14rem;
    width: 14rem;
    border-radius: 10px;
    margin: 0 auto;
    background-color: #fff;
    color: black;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 10%;
    z-index: 100;
    cursor: pointer;
    transition: 0.5s ease;
}

.card::after {
    content: '';
    position: absolute;
    bottom: -10px;
    right: -10px;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: rgb(0, 255, 34);
    z-index: 1;
    transition: 0.5s ease;
}

.card:hover::after {
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index: -1;
}

.card::before {
    content: '';
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index: -1;
    background-color: #fff;
    transition: 0.5s ease;
}

.card:hover::before {
    bottom: -10px;
    right: -10px;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    z-index: 1;
}

.card2 {
    height: 14rem;
    width: 14rem;
    border-radius: 10px;
    margin: 0 auto;
    background-color: #fff;
    color: black;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 30%;
    z-index: 100;
    cursor: pointer;
    transition: 0.5s ease;
}

.card2::after {
    content: '';
    position: absolute;
    bottom: -10px;
    right: -10px;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: rgb(238, 46, 12);
    z-index: 1;
    transition: 0.5s ease;
}

.card2:hover::after {
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index: -1;
}

.card2::before {
    content: '';
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index: -1;
    background-color: #fff;
    transition: 0.5s ease;
}

.card2:hover::before {
    bottom: -10px;
    right: -10px;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    z-index: 1;
}

.card3 {
    height: 14rem;
    width: 14rem;
    border-radius: 10px;
    margin: 0 auto;
    background-color: #fff;
    color: black;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    cursor: pointer;
    transition: 0.5s ease;
}

.card3::after {
    content: '';
    position: absolute;
    bottom: -10px;
    right: -10px;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: rgb(255, 238, 0);
    z-index: 1;
    transition: 0.5s ease;
}

.card3:hover::after {
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index: -1;
}

.card3::before {
    content: '';
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index: -1;
    background-color: #fff;
    transition: 0.5s ease;
}

.card3:hover::before {
    bottom: -10px;
    right: -10px;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    z-index: 1;
}

.card4 {
    height: 14rem;
    width: 14rem;
    border-radius: 10px;
    margin: 0 auto;
    background-color: #fff;
    color: black;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 70%;
    z-index: 100;
    cursor: pointer;
    transition: 0.5s ease;
}

.card4::after {
    content: '';
    position: absolute;
    bottom: -10px;
    right: -10px;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: rgb(44, 10, 233);
    z-index: 1;
    transition: 0.5s ease;
}

.card4:hover::after {
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index: -1;
}

.card4::before {
    content: '';
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index: -1;
    background-color: #fff;
    transition: 0.5s ease;
}

.card4:hover::before {
    bottom: -10px;
    right: -10px;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    z-index: 1;
}



body{
	margin: 0;
	padding: 0;
	background-color: #0e6cc4;
	overflow-x:hidden;
	overflow-y:hidden;
}

/*waves****************************/


.box {
	position: fixed;
	top: 0;
	transform: rotate(80deg);
	left: 0;
}

.wave {
	position: fixed;
	top: 0;
	left: 0;
  opacity: .4;
  position: absolute;
  top: 3%;
  left: 10%;
  background: #0af;
  width: 1500px;
  height: 1300px;
  margin-left: -150px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 7000ms infinite linear;
}

.wave.-three {
  animation: drift 7500ms infinite linear;
	position: fixed;
	background-color: #77daff;
}

.wave.-two {
  animation: drift 3000ms infinite linear;
  opacity: .1;
  background: black;
	position: fixed;
}

.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

/*LOADING SPACE*/

.contain {
	animation-delay: 4s;
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  background: #25a7d7;
  background: -webkit-linear-gradient(#25a7d7, #2962FF);
  background: linear-gradient(#25a7d7, #25a7d7);
}

.icon {
  width: 100px;
  height: 100px;
  margin: 0 5px;
}

/*Animation*/
.icon:nth-child(2) img {-webkit-animation-delay: 0.2s;animation-delay: 0.2s}
.icon:nth-child(3) img {-webkit-animation-delay: 0.3s;animation-delay: 0.3s}
.icon:nth-child(4) img {-webkit-animation-delay: 0.4s;animation-delay: 0.4s}

.icon img {
  -webkit-animation: anim 2s ease infinite;
  animation: anim 2s ease infinite;
  -webkit-transform: scale(0,0) rotateZ(180deg);
  transform: scale(0,0) rotateZ(180deg);
}

@-webkit-keyframes anim{
  0% {
    -webkit-transform: scale(0,0) rotateZ(-90deg);
    transform: scale(0,0) rotateZ(-90deg);opacity:0
  }
  30% {
    -webkit-transform: scale(1,1) rotateZ(0deg);
    transform: scale(1,1) rotateZ(0deg);opacity:1
  }
  50% {
    -webkit-transform: scale(1,1) rotateZ(0deg);
    transform: scale(1,1) rotateZ(0deg);opacity:1
  }
  80% {
    -webkit-transform: scale(0,0) rotateZ(90deg);
    transform: scale(0,0) rotateZ(90deg);opacity:0
  }
}

@keyframes anim{
  0% {
    -webkit-transform: scale(0,0) rotateZ(-90deg);
    transform: scale(0,0) rotateZ(-90deg);opacity:0
  }
  30% {
    -webkit-transform: scale(1,1) rotateZ(0deg);transform: scale(1,1) rotateZ(0deg);opacity:1
  }
  50% {
    -webkit-transform: scale(1,1) rotateZ(0deg);
    transform: scale(1,1) rotateZ(0deg);opacity:1
  }
  80% {
    -webkit-transform: scale(0,0) rotateZ(90deg);
    transform: scale(0,0) rotateZ(90deg);opacity:0
  }
}