.container{
  width: 100%;
  display: inline-flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-size: 20px;
}

.switch{
  display: flex;
  float: right;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10%;
}

.switch .switch-text{
  padding-right: 0.3rem;
  font-size: 1.2rem;
  right: 8px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
}

.switch .switch-wrapper{
  display: inline-block;
  width: 55px;
  height: 25px;
  position: relative;
} 

.switch .switch-wrapper .switch-button{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  background-color: #F28705;
}

.switch .switch-wrapper input{
  opacity: 0;
  width: 0;
  height: 0;
}

.switch .switch-wrapper .switch-button::before{
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  transition: .4s all ease;
  background-color: #012340;
  }

.switch .switch-wrapper input:checked + .switch-button{
  background-color: #03A63C;
}

.switch .switch-wrapper input:checked + .switch-button::before{
  transform: translatex(26px);
}

.dp-menu ul{
  list-style-type: none;
  padding: 0;
  }
  
  .dp-menu ul{
    background-color: #161F30;
  }
  
  .dp-menu ul li{
    display: inline;
    position: relative;
  }
  
  .dp-menu ul li a{
    right: 8px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 15px;
    transition: background .6s;
  }
  
.dp-menu ul li a:hover{
  background-color: aquamarine;
  }
    
  /* sub menu*/
  
.dp-menu ul ul{
  display: none;
  left: 0;
  position: absolute;
}
    
.dp-menu ul li:hover ul{
 display: block;
}
    
  .dp-menu ul ul{
  width: 150px;
}
    
.dp-menu ul ul li a{
  display: block;
}
