*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'inter', sans-serif;
}

body{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0c0ce94d;
}

.container{
  width: 80%;
  height: 80vh;
  display: flex;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

.form-img{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fde3a7d7;
  padding: 1rem;
}

.form-img img{
  width: 21rem;
}

.form{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
}

.form-header{
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
}

.form-header h1::after{
  content: '';
  display: block;
  width: 5rem;
  height: 0.3rem;
  background-color: #26a96a;
  margin: 0 auto;
  position: absolute;
  border-radius: 10px;
}

.input-group{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1px;
}

.input-box{
  display: flex;
  flex-direction: column;
  margin: 1px;
}

.input-box input{
margin: 0.6rem 0;
padding: 0.8rem 1.2rem;
border: none;
border-radius: 10px;
box-shadow: 1px 1px 6px #000;
}

.input-box input:hover{
  background-color: #1D7373;
}

.input-box input:focus-visible{
  outline: 1px solid #6c63ff;
}

.input-box label, .gender-title h6{
  font-size: 0.75rem;
  font-weight: 600;
  color: #000;
}

.input-box input::placeholder{
  color: #000000be;
}

.gender-group{
  display: flex;
  justify-content: space-between;
  margin-top: 0.62rem;
  padding: 0 0.5rem;
}

.gender-input{
  display: flex;
  align-items: center;
}

.gender-input input{
  margin-right: 0.35rem;
}

.gender-input label{
  font-size: 0.81rem;
  font-weight: 600;
  color: #000;
}


/*Download*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
.button{
  position: absolute;
  margin-top: 1%;
  height: 55px;
  width: 200px;
  background: #7D2AE8;
  border-radius: 55px;
  cursor: pointer;
  background: #26a96a;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  overflow: hidden;
}
.button.active{
  height: 20px;
  width: 200px;
}
.button::before{
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  background: #161f30;
  border-radius: 55px;
  transition: all 6s ease-in-out;
}
.button.active::before{
  animation: layer 6s ease-in-out forwards;
}
@keyframes layer {
  100%{
    left: 0%;
  }
}
.button .content{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  transition-delay: 0.2s;
}
.button.active .content{
  transform: translateY(60px);
}
.button .content i,
.button .content .button-text{
  color: #fff;
  font-size: 30px;
  font-weight: 200;
}
.button .content .button-text{
  font-size: 20px;
  margin-left: 8px;
}
/*Download*/

@media screen and (max-width:1330px) {
  .form-img{
    display: none;
  }
  .container{
    width: 50%;
  }
  .form{
    width: 100%;
  }
}

@media screen and (max-width:1064px) {
  .container{
    width: 90%;
    height: auto;
  }
  .input-group{
    flex-direction: column;
    overflow-y: scroll;
    flex-wrap: nowrap;
    max-height: 10rem;
    padding-right: 5rem;
  }
  .gender-inputs{
    margin-top: 2rem;
  }
.gender-group{
  flex-direction: column;
}
}
