*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #555;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/*card */
.card{
  width: 300px;
  height: 460px;
  margin: 25px;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  transition: 0.3s;

}

/*card Header*/
.card-header{
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.card-img{
  min-width: 100%;
  width: auto;
  height: 100%;
}

/*card body*/
.card-body{
  height: 170px;
  padding: 15px;
  text-align: center;
  font-family: sans-serif;
}

.card-local{
  font-size: 16px;
  margin: 10px 0;
}

.card-titulo{
  font-size: 32px;
  margin: 15px 0;
}

.card-texto{
  font-size: 12px;
  width: 250px;
  margin: auto;
}

/*card footer*/
.card-footer{
  margin-top: 10px;
  text-align: center;
  background-color: black;
}

.card-footer a{
  color: #fff;
  display: block;
  padding: 16px;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 600;
}


/*cores dos cads */
.card-1 .card-footer{
  background-color: #2740d1;
}

.card-1 .card-local{
  color: #2740d1;
}

.card-2 .card-footer{
  background-color: #d12761;
}

.card-2 .card-local{
  color: #d12761;
}

.card-3 .card-footer{
  background-color: #00c702;
}

.card-3 .card-local{
  color: #00c702;
}

/*Animação Hover*/
.card:hover{
  transform: scale3d(1.1);
}